.religion-section {
    position: relative;
    /* background: url('/bg1.png') center center / cover no-repeat fixed; */
    background-color: rgb(2, 26, 47);
    padding: 50px 0;
  }
  
  .overlay {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
  }
  
  .container-1 {
    margin-bottom: 20px;
  }
  
  .h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: white;
  }
  
  .carousel-container {
    max-width: 90%;
    margin: 0 auto;
  }
  
  .carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }
  
  .video-container {
    width: 100%;
  }
  
  .carousel-content {
    text-align: center;
    background: rgba(130, 191, 220, 0.5);
    color: white;
    padding: 10px;
    margin-top: 10px;
  }
  